
<% @people.each do |person| %>
    <div class="photo">
      <%= image_tag person.image_url %>
    </div>
    <div class="details">
      Name: <b><%= person.f_name + ' ' + person.l_name %></b><br />
      Mailbox: <b><%= person.box_number %></b><br />
      Phone: <b><%= person.phone_number %></b><br />
      <div class="controls">
        <%= link_to 'Show', person %><br />
        <%= link_to 'Edit', edit_person_path(person) %><br />
        <%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %><br />
      </div>
    </div>
<% end %>

<br />

<%= link_to 'New Person', new_person_path %>
