<p id="notice"><%= notice %></p>

<div class="photo">
<%= image_tag @person.image_url %>
</div>

<div class="details">
  <b>Name:</b>
  <%= @person.f_name + @person.l_name %>
  <br />

  <b>Bio:</b>
  <%= @person.bio %>
  <br />

  <b>Box Number:</b>
  <%= @person.box_number %>
  <br />

  <b>Address:</b>
  <%= @person.address %>
  <br />

  <b>Phone Number:</b>
  <%= @person.phone_number %>
  <br />
</div>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
